<div>
    <img class="galleryImageFull" src="<%- image %>" />
        <div class="row justify-content-center">
            <% if (caption2) { %>
                <div class="col">
                    <p class="captionText pt-2 text-right">
                        <%- caption %>
                    </p>
                </div>
                <div class="col">
                    <p class="captionText pt-2 text-left">
                        <%- caption2 %>
                    </p>
                </div>
            <% } else { %>
                <p class="captionText pt-2">
                    <%- caption %>
                </p>
            <% } %>
        </div>
</div>
