<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./dist/fullpage.css" />
    <link rel="stylesheet" type="text/css" href="./dist/slick.css" />
    <link rel="stylesheet" type="text/css" href="./dist/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="./dist/examples.css?v=20190624" />
    <style>
        body{background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
    </style>

    <%# SEO %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Cape Ann Finns</title>
    <meta name="description" content="Cape Ann Finns, organized in 2017 and an affiliate of Finlandia Foundation National, was established to preserve our Finnish heritage in Rockport and Gloucester, Massachusetts."/>
</head>
