<div class="sectionContainer h-100 d-flex flex-column sectionBackground" id="section5Background">
    <div class="color-overlay section5-overlay"></div>
    <div class="row d-flex align-items-center h-100 pt-4 pb-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="paperBackground">
                <div class="headerText text-left">Links</div>
                <table class="linksDetail">
                    <tr>
                        <td class="w-50">Finlandia Foundation National</td>
                        <td class="w-50"><a href="https://finlandiafoundation.org" target="_blank">finlandiafoundation.org</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Finnish American Reporter</td>
                        <td class="w-50"><a href="http://finnishamericanreporter.com" target="_blank">finnishamericanreporter.com</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Finnish American Heritage Center</td>
                        <td class="w-50"><a href="https://finlandia.edu/fahc/" target="_blank">finlandia.edu/fahc/</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Embassy of Finland (D.C.)</td>
                        <td class="w-50"><a href="http://finland.org" target="_blank">finland.org</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Abundance Mobile Sauna</td>
                        <td class="w-50"><a href="https://abundancesauna.com" target="_blank">abundancesauna.com</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Ink Tank</td>
                        <td class="w-50"><a href="https://inktank.fi" target="_blank">inktank.fi</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Her Finland</td>
                        <td class="w-50"><a href="https://herfinland.com" target="_blank">herfinland.com</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Music Finland</td>
                        <td class="w-50"><a href="https://musicfinland.com" target="_blank">musicfinland.com</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Saunologia</td>
                        <td class="w-50"><a href="https://saunologia.fi" target="_blank">saunologia.fi</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">this is Finland</td>
                        <td class="w-50"><a href="https://finland.fi" target="_blank">finland.fi</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Soiva Music Camp</td>
                        <td class="w-50"><a href="https://finlandiafoundation.org/soiva-music-camp/" target="_blank">finlandiafoundation.org/soiva-music-camp/</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Salolampi Language Village</td>
                        <td class="w-50"><a href="https://salolampi.org" target="_blank">salolampi.org</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Noble Network Heritage</td>
                        <td class="w-50"><a href="https://www.digitalcommonwealth.org/search?mlt_id=commonwealth-oai%3Atm70p3324" target="_blank">digitalcommonwealth.org/search?mlt_id=commonwealth-oai%3Atm70p3324</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Finland Today</td>
                        <td class="w-50"><a href="https://finlandtoday.fi" target="_blank">finlandtoday.fi</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Visit Finland</td>
                        <td class="w-50"><a href="https://visitfinland.com" target="_blank">visitfinland.com</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">Dooris Travel, Rikka Pajunen (ree-ka pie-you-nen)</td>
                        <td class="w-50"><a href="https://www.dooris.fi" target="_blank">dooris.fi</a></td>
                    </tr>
                    <tr>
                        <td class="w-50">YouTube Finlandia Foundation National</td>
                        <td class="w-50"><a href="https://m.youtube.com/channel/UCOmt1HUZUwFyDaV5CzRlpQA" target="_blank">youtube.com/channel/UCOmt1HUZUwFyDaV5CzRlpQA</a></td>
                    </tr>
                </table>
                <div class="headerText text-left pt-4">Facebook Group Pages</div>
                <table class="linksDetail">
                    <% for (var i = 0; i < facebookGroupArray.length; i++){ %>
                        <% if (i % 2) { %>
                                <td class="w-50"><a href="<%- facebookGroupArray[i].url %>" target="_blank"><%- facebookGroupArray[i].name %></a></td>
                            </tr>
                        <% } else { %>
                            <tr>
                                <td class="w-50"><a href="<%- facebookGroupArray[i].url %>" target="_blank"><%- facebookGroupArray[i].name %></a></td>
                        <% } %>
                    <% }; %>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
