<div class="sectionContainer h-100 d-flex flex-column sectionBackground" id="section2Background">
    <div class="color-overlay section2-overlay"></div>
    <div class="row d-flex align-items-center h-100 pt-4 pb-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="paperBackground">
                <div class="headerText text-left">About</div>
                <p class="w-100 pb-1 contentText pt-2">
                    Open to everyone, Cape Ann Finns is a nonprofit, incorporated organization affiliated since 2017 with Finlandia Foundation National. Rockport and Gloucester, Massachusetts, were home since the 1860s to Finnish immigrants, the fourth largest immigrant population here, whose imprint needs to be recorded by the last generation who knew them and the first generation of Finnish Americans that followed.
                    <br /><br />

                    To preserve our Finnish heritage, members contribute all forms of media such as recorded interviews, stories, memories, photographs, news articles, documents, and events to its Many Finns, Many Stories online archive. CAF collaborates with established organizations, principally the Lanesville Community Center, to develop quality programs of interest to the public, bringing attention to our heritage locally, regionally, and nationally.
                    <br /><br />

                    Directors of CAF for 2023-24 are Elana Pistenmaa Brink, Ann Thompson Freiss, Raymond Hildonen, Nikki Korkatti, Valerie Nelson, Fred Peterson, Robert Ranta, Barbara Greel Sachs, Dona Kaihlanen Shea, and Wayne Soini.
                </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
