<div class="sectionContainer h-100 d-flex flex-column sectionBackground">
    <div class="color-overlay section6-overlay"></div>
    <div class="row d-flex align-items-center h-100">
        <div class="col paperBackground pt-0 pb-0">
            <div class="slider-for">
                <% galleryArray.forEach(function(photo){ %>
                    <div class="gallerySlideFull"><%- include('./partials/galleryImageFull.ejs', { image: photo.image, caption: photo.caption, caption2: (photo.caption2) ? photo.caption2 : null }) -%></div>
                <% }); %>
            </div>
            <div class="slider-nav mt-3">
                <% galleryArray.forEach(function(photo){ %>
                    <div><%- include('./partials/galleryImageThumbnail.ejs', { image: photo.image }) -%></div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
