<div class="sectionContainer h-100 d-flex flex-column sectionBackground" id="section3Background">
    <div class="color-overlay section3-overlay"></div>
    <div class="row d-flex align-items-center h-100 pt-4 pb-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="paperBackground">
                <div class="headerText text-left">Join/Contact</div>
                <p class="w-100 pb-2 contentText text-center pt-2">
                    Membership provides:
                </p>
                <ul class="w-100 pb-1 pl-4 contentText">
                    <li class="pb-2">
                        Membership in Finlandia Foundation National and a subscription to its quarterly newsletter,
                    </li>
                    <li class="pb-2">
                        Free attendance at CAF-run events,
                    </li>
                    <li class="pb-2">
                        A minimum of two free annual programs,
                    </li>
                    <li class="pb-3">
                        A vote at the Annual Meeting.
                    </li>
                </ul>
                <p class="w-100 pb-1 contentText">
                    Membership in Cape Ann Finns follows the calendar year.
                    <br />
                    New members do not pay dues in the year they join.
                    <br /><br />

                    Thereafter, a $10 fee <span class="caf-underline">per household</span> is due any time between January 1 and December 31, annually.
                    <br /><br />

                    <span class="font-weight-bold">Join CAF now. You will receive periodic reminders. Remit the fee when convenient.</span>
                    <br /><br />

                    To join:
                    <ol>
                        <li>
                            Print a copy of the <a href="../assets/CapeAnnFinnsMembershipApplication.pdf" target="_blank">application</a>, fill it out, then mail it to Cape Anns Finns, P.O. Box 804, Rockport, MA 01966.
                        </li>
                        <li>
                            Email your name and telephone number to <a href="mailto:capeannfinns@gmail.com">capeannfinns@gmail.com</a>.
                        </li>
                        <li>
                            Call 202-420-8548.
                        </li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
