<div class="sectionContainer h-100 d-flex flex-column">
    <div class="d-flex flex-column justify-content-center sectionBackground" id="section1Background">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 d-flex align-items-center justify-content-center">
                <img class="section1Logo" src="./assets/CapeAnnFinnsLogo4-1.png" />
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="whiteBackgroundDiv caf-top-border row pt-4 pb-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="d-flex justify-content-between align-items-end headerText text-left">
                <span>Tervetuloa/Welcome</span>
                <%# FACEBOOK ICON %>
                <div class="pb-1"><% include ./findUsOnFacebook %></div>
            </div>
            <p class="w-100 pb-1 contentText pt-2 color-black">
                Welcome to Cape Ann Finns, an organization that documents and preserves information about Finnish and American Finnish families, their community, social and work lives from the mid-1800s to the present in Rockport and Gloucester, Massachusetts. Visitors are invited to view, comment, and contribute by clicking the Archive button above to access our public Many Finns, Many Stories archive.
            </p>
            <p class="w-100 pb-1 contentText pt-2 color-black">We invite you to join CAF's 300+ membership and its nearly 550 Facebook friends on our group page, Cape Ann Finns.</p>
        </div>
        <div class="col-1"></div>
    </div>
</div>
