<div class="sectionContainer h-100 d-flex flex-column sectionBackground" id="section4Background2">
    <div class="color-overlay section4-overlay"></div>

    <div class="row d-flex align-items-center h-100 pt-4 pb-4">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="paperBackground">
                <div class="headerText text-left">Events</div>
                <div>
                    <p class="pb-2">
                        All Cape Ann Finns events are located by month in this Combined Calendar of chapter events throughout New England. (<a href="http://www.ffnaffiliateevents.com/calendar" target="_blank">http://www.ffnaffiliateevents.com/calendar</a>) CAF events and updates are shown in a dark gray / charcoal color in the calendar format. Or click the "Agenda" button for a list of events by month.
                    </p>
                    <p class="pb-2">
                        We are pleased to participate in <a href="https://massculturalcouncil.org/organizations/card-to-culture" target="_blank">Mass Cultural Council's Card to Culture</a> program in collaboration with the Department of Transitional Assistance, the Women, Infants & Children (WIC) Nutrition Program, and the Massachusetts Health Connector, by broadening accessibility to cultural programming.
                    </p>
                    <p class="pb-3">
                        <a href="https://www.mass.gov/info-details/ebt-card-to-culture-organizations" target="_blank">EBT</a>, <a href="https://www.mass.gov/info-details/get-discounts-with-your-wic-card#cultural-organizations-" target="_blank">WIC</a>, and <a href="https://www.mahealthconnector.org/learn/plan-information/connectorcare-plans/connectorcare-card-to-culture" target="_blank">ConnectorCare</a> cardholders receive free admission or 50% off the ticket costs, depending upon the activity. Present your card at the event. See the complete list of participating organizations offering <a href="https://www.mass.gov/info-details/ebt-card-to-culture-organizations" target="_blank">EBT</a>, <a href="https://www.mass.gov/info-details/get-discounts-with-your-wic-card#cultural-organizations-" target="_blank">WIC</a>, and <a href="https://www.mahealthconnector.org/learn/plan-information/connectorcare-plans/connectorcare-card-to-culture" target="_blank">ConnectorCare</a> discounts.
                    </p>
                </div>
                <!-- CALENDAR EMBED -->
                <iframe src="https://ffnaffiliateevents.com/calendar/?embed=1" width="100%" height="790px" frameBorder="0" style="border: 0;"></iframe><br>Brought to you by <a href="https://ffnaffiliateevents.com/calendar" target="_blank">Finlandia Foundation National Affiliate Events</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
