<!DOCTYPE html>
<html>
    <% include ./partials/header %>
    <body>
        <ul id="menu">
            <img src="./assets/finlandia-foundation-logo.png" class="finlandiaFoundationLogo" />
            <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
            <li data-menuanchor="about"><a href="#about">About</a></li>
            <li data-menuanchor="contact"><a href="#contact">Join/Contact</a></li>
            <li data-menuanchor="events"><a href="#events">Events</a></li>
            <li data-menuanchor="links"><a href="#links">Links</a></li>
            <li data-menuanchor="gallery"><a href="#gallery">Gallery</a></li>
        </ul>

        <div id="fullpage">
            <div class="section" id="section0">
                <% include ./partials/section1 %>
            </div>

            <div class="section" id="section1">
                <% include ./partials/section2 %>
            </div>

            <div class="section" id="section2">
                <% include ./partials/section3 %>
            </div>

            <div class="section" id="section3">
                <% include ./partials/section4 %>
            </div>

            <div class="section" id="section4">
                <% include ./partials/section5 %>
            </div>

            <div class="section" id="section5">
                <% include ./partials/section6 %>
            </div>
        </div>
        <% include ./partials/footer %>

        <script type="text/javascript">
            $(function() {
                 $('#fullpage').fullpage({
                    menu: '#menu',
                    anchors: ['home', 'about', 'contact', 'events', 'links', 'gallery'],
                    autoScrolling: false,
                    licenseKey: '<%= fullpageJSLicense %>'
                });
                $('.slider-for').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    fade: true,
                    asNavFor: '.slider-nav'
                });
                $('.slider-nav').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    asNavFor: '.slider-for',
                    arrows: false,
                    centerMode: true,
                    focusOnSelect: true
                });

                // -70 for menu
                // and -20 for bottom padding for this section
                // and -16 for thumbnails div top margin
                // and -48 for captions
                var windowHeight = ($(window).height() - 154);
                // -0.18 = ~0.09 for each 1/12 column
                var windowWidth = ($(window).width() * 0.82);
                $('.galleryImageFull').css('height', windowHeight * 0.81);
                $('.galleryThumbnail')
                    .css('height', windowHeight * 0.16)
                    .css('width', windowWidth/8)
            });
        </script>
    </body>
</html>
